// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-family: arial;
  color: black;
  font-size: 32px;
}

p {
  font-family: arial;
  color: gray;
  font-size: 16px;
}
